 <!--The content below is only a placeholder and can be replaced.-->


  <div>

 <h2 class="center" >create sales request </h2>
 <div class="center">Name: <input type="text" [value]="name"        (input)="name=$event.target.value"><br></div>
 
 <div class="center">Quality: <input type="text" [value]="quality"  (input)="quality=$event.target.value"><br></div>
 
 <div class="center">Quantity: <input type="text" [value]="quantity"(input)="quantity=$event.target.value"><br></div>
 
 <div class="center">Price: <input type="text" [value]="price"      (input)="price=$event.target.value"><br></div>
 
 
 <button (click)="add()" class="center" style="border-color:aqua">Submit</button>
 
 <div>

<table class="table">
  <tbody>

 

<tr *ngFor="let x of contacts; let i = index">

<!-- <td><input type="text" [value]="x.id" (input)="x.id=$event.target.value" [disabled]="!x.isEditable"/></td> -->
<!-- 
<td><input type="text" [value]="x.text" (input)="x.text=$event.target.value" [disabled]="!x.isEditable"/></td> -->

<td>{{x.name}}</td>
<td>{{x.price}}</td>
<td>{{x.quality}}</td>
<td>{{x.quantity}}</td>

<td><button class="btn btn-danger"(click)="deleteFieldValue(i)">Delete</button></td>

<td><button (click)="x.isEditable=!x.isEditable" *ngIf="!x.isEditable">Edit</button>

<button *ngIf="x.isEditable" (click)="x.isEditable=!x.isEditable">Save</button>

</td>

</tr>

</tbody>

</table>

</div>


</div>


<router-outlet></router-outlet>