/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;
}

div {
    padding: 5px;
    text-align: center;
    
}
.center{
    text-align: center;
}
